h1 {
  font-family: 'Chewy', cursive;
}

body {
  font-family: 'Baloo 2', cursive;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sct_ct_u > li {
  width: 500px;
  float: left;
  margin: 5px;
  box-sizing: border-box;
}

.sct_img {
  width: 260px;
  height: 260px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
}

.cropped-img {
  width: 400px; 
  height: auto;
  display: block;
}

#top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 13px;
  font-size: 10px;
  cursor: pointer;
  z-index: 1000;
}

#catList.gallery-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

#catList.gallery-view li {
  margin: 0;
}

#catList.list-view {
  display: block;
}

#catList.list-view li {
  margin-bottom: 20px;
}

#catList.list-view .sct_img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#catList.list-view .cropped-img {
  width: auto;
  height: 100%;
}

a {
  text-decoration: none;  
  color: inherit;        
}

a:visited {
  color: inherit;         
}

@font-face {
  font-family: 'Chewy';
  src: url('/static/fonts/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/static/fonts/Baloo2-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

input[type="text"],
input[type="password"]{
    width: 300px; 
    padding: 10px 15px; 
    border: 2px solid #ccc;
    border-radius: 20px; 
    font-size: 16px; 
    font-family: 'Baloo 2', cursive; 
    transition: all 0.3s ease; 
}

input[type="text"],
input[type="password"]:focus {
    border-color: lightgray; 
    box-shadow: 0 0 8px rgba(121, 166, 208, 0.5); 
    outline: none; 
}

input[type="submit"] {
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    background-color: mistyrose; 
    color: black; 
    font-size: 16px; 
    font-weight: bold; 
    font-family: 'Baloo 2', cursive; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


input[type="submit"]:hover {
    background-color: lightpink; 
}

/* 네비게이션 바 전체를 가로 정렬합니다. */
nav {
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
    padding: 10px 0;
}

/* exploit-nav를 오른쪽으로 밀어냅니다. */
.exploit-nav {
    margin-left: auto;
}