<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>

  <!-- CSS / JS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') | replace('/static/', '/main/static/') }}">
  <script src="{{ url_for('static', filename='JS/view.js') | replace('/static/', '/main/static/') }}"></script>
</head>

<body>
  <div class="container">

    <nav>
      <div class="main-nav">
        <a href="{{ url_for('home') | replace('/', '/main/') }}">Home</a> |
        <a href="{{ url_for('login') | replace('/', '/main/') }}">Login</a>
      </div>
      <div class="exploit-nav">
        <a id="exploitLink" target="_blank">Exploit Server</a>
      </div>
    </nav>

    <script>
      const exploitLink = document.getElementById("exploitLink");
      const url = "http://localhost:777/exploit";
      exploitLink.addEventListener("click", (e) => {
        e.preventDefault(); 
        window.open(url, "_blank");
      });
    </script>

    <h1><a href="{{ url_for('home') | replace('/', '/main/') }}">Cat Distribution System</a></h1>

    <form id="searchForm" action="{{ url_for('search') | replace('/', '/main/') }}" method="GET">
      <input id="searchInput" type="text" name="q" lang="en" placeholder="Search for kitties!" required>
      <input type="submit" value="Search">
    </form>

    <h2>Meet our kitties! ≽^•⩊•^≼</h2>

    <div>
      <button type="button" id="listBtn">List</button>
      <button type="button" i
