<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>

  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <script src="../static/js/view.js"></script>
</head>

<body>
  <nav>
    <a href="home.html">Home</a> |
    <a href="login.html">Login</a>
  </nav>
  <h1><a href="home.html">Cat Distribution System</a></h1>
  <h2>Login</a></h2>

  <form method="POST">
  <div class="form-group">
    <label for="InputName"> ID </label>
    <input type="text" class="form-control" id="InputName" placeholder="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="InputPassword">PW</label>
    <input type="password" class="form-control" id="InputPassword" placeholder="password" name="password" required>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Login</button>
  </form>

</body>
</html>