<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Search Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <div class="container">

    <nav>
    <div class="main-nav">
    <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="exploit-nav">
  <a id="exploitLink" target="_blank">Exploit Server</a>
</div>
</nav>
<script>
  const exploitLink = document.getElementById("exploitLink");
  const url = "http://localhost:888/exploit";
  exploitLink.href = url;

  exploitLink.addEventListener("click", (e) => {
    e.preventDefault(); 
    window.open(url, "_blank");
  });

  exploitLink.href = url;
</script>

    <h1><a href="{{ url_for('home') }}">Cat Distribution System</a></h1>

    <h3>Search History</h3>
    <ul id="historyList">
      {% for entry in history %}
        <li>{{ entry.search_term }}</li>
      {% endfor %}
    </ul>

    <br>
    <form id="searchForm" action="{{ url_for('search') }}" method="GET">
      <input type="text" id="searchInput" lang="en" name="q" placeholder="Search for kitties!" required value="{{ search_term }}">
      <input type="submit" value="Search" />
    </form>

    <h2>Search results for "{{ search_term }}"</h2>
    {% if cats %}
      <ul class="crop-container gallery-view" id="catList">
        {% for cat in cats %}
          <li>
            <a href="{{ url_for('cat_profile', cat_name=cat.name.lower()) }}">
              <div class="sct_img">
                <img src="{{ url_for('static', filename='image/' + cat.image) }}" alt="{{ cat.name }}" class="cropped-img">
              </div>
              <div>{{ cat.name }}</div>
            </a>
            {{ cat.age }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No cats found for "{{ search_term }}".</p>
    {% endif %}

  </div>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script>
    const socket = io("https://main.cds.com:727");
    const sessionId = document.cookie.split('; ').find(row => row.startsWith('sessionid='))?.split('=')[1];

    socket.emit('READY', { sessionid: sessionId });
    socket.on('search_history', (data) => {
      const li = document.createElement('li');
      li.textContent = data.search_term;
      document.getElementById('historyList').prepend(li);
    });
    socket.on('system', (data) => { console.log(data.msg); });


    const searchForm = document.getElementById('searchForm');
    const searchInput = document.getElementById('searchInput');

    searchForm.addEventListener('submit', (e) => {
      const term = searchInput.value.trim();
      if (!term) return;
      socket.emit('search', { sessionid: sessionId, q: term });
    });
  </script>

</body>
</html>